[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-keepassxc.sh"

[edit]
    command = "code"
    args = ["--new-window", "--wait"]

[merge]
    command = "flatpak run org.gnome.meld"
    args = ["--auto-compare"]

[git]
    # autoAdd = true

    # add + commit
    autoCommit = true

    # If you automate the push as well, sensitive files could accidentally be uploaded to the remote repository.
    # autoPush = true
