[edit]
    command = "code"
    args = ["--wait"]

[merge]
    command = "flatpak run org.gnome.meld"
    args = ["--auto-compare"]

[git]
    # autoAdd = true

    # add + commit
    autoCommit = true

    # If you automate the push as well, sensitive files could accidentally be uploaded to the remote repository.
    # autoPush = true
