{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

#------------------------------------------------------------------------------
# ANSI escape code variables.
# ------------------------------------------------------------------------------

# Usage: printf "I ${Red}love${Color_Off} Stack Overflow\n"
# If you are using the echo command, be sure to use the -e flag to allow backslash escapes.
# echo -e "I ${Red}love${Color_Off} Stack Overflow"

# Reset
Color_Off='\033[0m'       # Text Reset

# Regular Colors
Black='\033[0;30m'        # Black
Red='\033[0;31m'          # Red
Green='\033[0;32m'        # Green
Yellow='\033[0;33m'       # Yellow
Blue='\033[0;34m'         # Blue
Purple='\033[0;35m'       # Purple
Cyan='\033[0;36m'         # Cyan
White='\033[0;37m'        # White

# Bold
BBlack='\033[1;30m'       # Black
BRed='\033[1;31m'         # Red
BGreen='\033[1;32m'       # Green
BYellow='\033[1;33m'      # Yellow
BBlue='\033[1;34m'        # Blue
BPurple='\033[1;35m'      # Purple
BCyan='\033[1;36m'        # Cyan
BWhite='\033[1;37m'       # White

# Underline
UBlack='\033[4;30m'       # Black
URed='\033[4;31m'         # Red
UGreen='\033[4;32m'       # Green
UYellow='\033[4;33m'      # Yellow
UBlue='\033[4;34m'        # Blue
UPurple='\033[4;35m'      # Purple
UCyan='\033[4;36m'        # Cyan
UWhite='\033[4;37m'       # White

# Background
On_Black='\033[40m'       # Black
On_Red='\033[41m'         # Red
On_Green='\033[42m'       # Green
On_Yellow='\033[43m'      # Yellow
On_Blue='\033[44m'        # Blue
On_Purple='\033[45m'      # Purple
On_Cyan='\033[46m'        # Cyan
On_White='\033[47m'       # White

# High Intensity
IBlack='\033[0;90m'       # Black
IRed='\033[0;91m'         # Red
IGreen='\033[0;92m'       # Green
IYellow='\033[0;93m'      # Yellow
IBlue='\033[0;94m'        # Blue
IPurple='\033[0;95m'      # Purple
ICyan='\033[0;96m'        # Cyan
IWhite='\033[0;97m'       # White

# Bold High Intensity
BIBlack='\033[1;90m'      # Black
BIRed='\033[1;91m'        # Red
BIGreen='\033[1;92m'      # Green
BIYellow='\033[1;93m'     # Yellow
BIBlue='\033[1;94m'       # Blue
BIPurple='\033[1;95m'     # Purple
BICyan='\033[1;96m'       # Cyan
BIWhite='\033[1;97m'      # White

# High Intensity backgrounds
On_IBlack='\033[0;100m'   # Black
On_IRed='\033[0;101m'     # Red
On_IGreen='\033[0;102m'   # Green
On_IYellow='\033[0;103m'  # Yellow
On_IBlue='\033[0;104m'    # Blue
On_IPurple='\033[0;105m'  # Purple
On_ICyan='\033[0;106m'    # Cyan
On_IWhite='\033[0;107m'   # White

# ------------------------------------------------------------------------------

if command -v brew &> /dev/null; then

    printf "\n${BRed}INFO${Color_Off} - Update Homebrew\n"
    brew update --force
    brew upgrade

    printf "\n${BRed}INFO${Color_Off} - Installing packages\n"
    brew bundle install --upgrade --cleanup --file=/dev/stdin <<EOF

{{ range .packages.homebrew.taps -}}
tap {{ . | quote }}
{{ end -}}

{{ range .packages.homebrew.formulae -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}

{{ range .packages.flatpaks -}}
flatpak {{ . | quote }}
{{ end -}}

{{ range .packages.go -}}
go {{ . | quote }}
{{ end -}}

{{ range .packages.cargo -}}
cargo {{ . | quote }}
{{ end -}}

{{ range .packages.uv -}}
uv {{ . | quote }}
{{ end -}}

{{ range .packages.vscode_extensions -}}
vscode {{ . | quote }}
{{ end -}}

EOF

else
    printf "${BRed}ERROR${Color_Off} - Homebrew not available!\n"
fi

# ------------------------------------------------------------------------------

cache=~/.var/lib/chezmoi/run_onchange_apply_packages.d
[[ ! -d "${cache}" ]] && mkdir -p "${cache}"

if command -v pip &> /dev/null; then
    cat <<EOF > "${cache}"/requirements_current_pip.txt
{{ range .packages.pip -}}
{{ . }}
{{ end -}}
EOF
    if [[ -f "${cache}"/requirements_previous_pip.txt ]]; then

        # unique lines found in second input compared to first input
        mapfile -t pip_to_install < <( \grep -Fxvf "${cache}"/requirements_previous_pip.txt "${cache}"/requirements_current_pip.txt )
        mapfile -t pip_to_uninstall < <( \grep -Fxvf "${cache}"/requirements_current_pip.txt "${cache}"/requirements_previous_pip.txt )

        [[ ${#pip_to_uninstall[@]} -gt 0 ]] && pip uninstall ${pip_to_uninstall[@]}
        [[ ${#pip_to_install[@]} -gt 0 ]] && pip install -U ${pip_to_install[@]}

    else
        pip install -U -r "${cache}"/requirements_current_pip.txt
    fi

    [[ -f "${cache}"/requirements_previous_pip.txt ]] && rm "${cache}"/requirements_previous_pip.txt
    mv "${cache}"/requirements_current_pip.txt "${cache}"/requirements_previous_pip.txt
else
    printf "${BRed}ERROR${Color_Off} - Python pip not available!\n"
fi

if command -v gext &> /dev/null; then
    cat <<EOF > "${cache}"/requirements_current_gnome_extentions.txt
{{ range .packages.gnome_extentions -}}
{{ . }}
{{ end -}}
EOF
    if [[ -f "${cache}"/requirements_previous_gnome_extentions.txt ]]; then

        # unique lines found in second input compared to first input
        mapfile -t gnome_extentions_to_install < <( \grep -Fxvf "${cache}"/requirements_previous_gnome_extentions.txt "${cache}"/requirements_current_gnome_extentions.txt )
        mapfile -t gnome_extentions_to_uninstall < <( \grep -Fxvf "${cache}"/requirements_current_gnome_extentions.txt "${cache}"/requirements_previous_gnome_extentions.txt )

        [[ ${#gnome_extentions_to_uninstall[@]} -gt 0 ]] && gext uninstall ${gnome_extentions_to_uninstall[@]}
        [[ ${#gnome_extentions_to_install[@]} -gt 0 ]] && gext update --install --yes ${gnome_extentions_to_install[@]}

    else
        gext update --install --yes $( cat "${cache}"/requirements_current_gnome_extentions.txt | awk '{print}' ORS=' ' )
    fi

    [[ -f "${cache}"/requirements_previous_gnome_extentions.txt ]] && rm "${cache}"/requirements_previous_gnome_extentions.txt
    mv "${cache}"/requirements_current_gnome_extentions.txt "${cache}"/requirements_previous_gnome_extentions.txt

    gext update
else
    printf "${BRed}ERROR${Color_Off} - Python pip not available!\n"
fi

# ------------------------------------------------------------------------------

# sudo usermod -s /usr/bin/xonsh <user>

{{ end -}}
